*{
    margin: 0;
    padding: 0;
}
.menu{
    background-color: rgba(0, 0, 0, 0.865);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.menubar,ol,li{
    color: white;
   list-style: none;
}
.menubar,ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul,li{
    
    font-size: 25px;
    margin: 20px;
}
.banner{
    background-image: linear-gradient(black, gray,tomato);
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}
.btn{
    padding: 10px;
    border-radius: 5px;
    border-color: purple;
    background-color: palevioletred;
    margin: 20px;
    margin-left: 120px;
}
.btn:hover{
    background-color: aqua;
    cursor: pointer;
}