*{
    margin: 0;
    padding: 0;
   
}
.menu{
    background-color: rgba(0, 0, 0, 0.865);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0 3px 0 3px;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
.menubar,ol,li{
    color: white;
   list-style: none;
}
.menubar,ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul,li{
    
    font-size: 25px;
    margin: 20px;
}
.banner{
    background-image: linear-gradient(black, gray,tomato);
    /* margin-top: 40px; */
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    border-radius: 5px;
    box-shadow: 5px 10px 15px palevioletred;
}
.btn{
    padding: 10px;
    border-radius: 5px;
    border-color: purple;
    background-color: palevioletred;
    margin: 20px;
    margin-left: 120px;
}
.btn:hover{
    background-color: aqua;
    cursor: pointer;
}
/* about section */
.card{
    width: 200px;
    height: 260px;
    border: 1px solid gray;
 background-color: rgb(25, 49, 49);
    margin: 10px;
    border-radius: 5%;
    overflow: hidden;
    color: antiquewhite;
    text-align: center;
    box-shadow: 3px 4px 4px black;
}
.title{
    margin-top: 10px;
}
.about-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 /* footer section */
 footer{
    background-image: linear-gradient(black,gray);
    border-radius: 1%;
    
 }
 .contact{
   
    display: flex;
    justify-content: space-around;
    align-items: center;

 }
 .owner{
    margin: 20px;

 }
